

html{
	font-size:100%;
}

body {
	/* light grey #D3D3D3 in substitude for soft dove grey */ 
	padding:0;
	margin:0;
	font-family:Arial, Verdana, sans-serif;
	font-size:100%;
	text-align:center;
	}
li{
	margin-bottom:30px; /* was 40px HI3 18Dec2017 */
}

#container {
	width:1040px;
	height:auto;
	padding:10px;
	border:10px solid #036;
	border-radius:25px;
	box-shadow: 10px 10px 5px #666666;
	margin:25px auto;
	}

#mod2{
	width:200px;
	height:300px;
	padding:10px;
	border:1px solid #036;
	border-radius:10px;
	/*box-shadow: 10px 10px 5px #666666;*/
	margin:10px;
}
#mod3{
	width:200px;
	height:150px;
	padding:10px;
	border:1px solid #036;
	border-radius:10px;
	/*box-shadow: 10px 10px 5px #666666;*/
	margin:10px;
}

#content {
	float:right;
	/*position:relative; top:-523px;*/
	width:780px;
	height:500px;
	padding:0px;
	border:1px solid #036;
	border-radius:10px;
	box-shadow: 3px 3px 1.5px #666666;
	margin:10px; 
	}
}
a { 
	font-family:Arial,sans-sarif;
	text-align:left;
	}
		
a:link {
	text-decoration:none;
	font-weight:none;
	}
a:visited{
	text-decoration:none;
	font-weight:none;
	}
a:hover {
	text-decoration:underline;
	cursor: pointer;
	}
	
a:active{
	text-decoration:none;
	}

h1 {
	font-family:"Times New Roman","Lucida Handwriting", "Brush Script Std", "Kunstler Script";
	font-size:2.5em;
	font-weight:bolder;
	text-decoration:none;
	padding:10px 85px 10px 10px;
	margin:auto;
	text-align:center;
	}
	
h3, h4 {
	font-size:1.25em;
	font-family:"Times New Roman";
	text-decoration:none;
	margin:0 auto;
	padding:8px;
	text-align:center;
	}	
	
p{
	clear:both;
	padding:25px;
	margin:0px auto;
	text-align:left;
	}
	
nav.top {
	width:1020px;
	height:40px;
	padding:0px;
	border:1px solid #036;	
	border-radius:10px;
	margin:0px auto;
	font-style:normal;
	text-align:center;
	}
	
nav	li {
	display:inline;
	padding:10px;
	margin:0px auto;
	}	

nav ul {
	list-style-type:none;
	padding:0;
	margin:10px auto;
	text-align:center;
	}
	
.padding{ /*class for mod1 paragraph  to add padding */
	text-align:left;
	margin-left:-15px;
	}
.padding3{ /*class for mod3 paragraph  to add padding */
	padding:10px 0 5px 5px;
	margin:0 auto;
	text-align:left;
	}
		
h2.position{
font-family:"Times New Roman", "Brush Script Std", "Kunstler Script";
	font-weight:bolder;
	position:relative; left:-53px; top:25px;
	text-decoration:none;
	margin:0 auto;
	padding:0;
	text-align:center;
}		
header{
	width:1020px;
	height: 70px;
	padding:0px;
	border:1px solid #036;
	border-radius:10px;
	margin:0 auto; 
	}


	
footer {
	clear:both;
	position:relative; top:-555px;
	width:1020px;
	height:87px;
	padding:0px;
	border:1px solid #036;
	border-radius:10px;
	box-shadow: 3px 3px 1.5px #666666;
	margin:0 auto; 
	}
	
img.rounded{
	background-color:white;
	border:2px solid #B163A3; 
	border-radius:35px;
	}	
	
img.rounded:hover{
	left:55px;
	background-color:orange;
	border:2px solid orange; 
	border-radius:35px;
	}
	
header img{
	float:left;
	position:relative; left:55px; top:2px;
	margin:0px;
	}
	
#footerImages{
	margin:0 0 0 40px;
}
.float { /* nav in the footer for the images */
	float:left;
	position:relative; left:20px; top:0px;
	display:inline;
	padding:0px;
	margin:0px auto;
	}	

#contactUs{
	text-align:left;
	width:340px;
	line-height:150%;
}

#displayCopyright{
	float:left;
	position:relative; left:310px; top:-50px;
}

iframe{ /*used in the contact us page to display google map of UIW address */
	float:right;
	position:relative; left:-20px; top:-285px;
	width:375px;
	height:375px;	
	border:3px solid black;
	
}

.a li{

	text-align: left;
	margin-bottom: 0px;
}
